<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Shopping Catalog Item
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{shoppingCatalogItem.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{shoppingCatalogItem.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Shopping Catalog Sheld</ion-label>
            <div item-content *ngIf="shoppingCatalogItem.shoppingCatalogSheldId">
                <a>{{shoppingCatalogItem.shoppingCatalogSheldLabel}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(shoppingCatalogItem)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(shoppingCatalogItem)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
