<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Profil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Display Name</ion-label>
            <div item-content>
                <span>{{profil.displayName}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{profil.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>User</ion-label>
            <div item-content>{{profil.userLogin}}</div>
        </ion-item>
        <ion-item>
            <ion-label>Profil Data</ion-label>
            <div item-content *ngIf="profil.profilDataId">
                <a>{{profil.profilDataId}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(profil)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(profil)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
