<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Profil
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.get('id')">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Display Name</ion-label>
                <ion-input type="text" name="displayName" formControlName="displayName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Last Update</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="lastUpdate" id="field_lastUpdate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>User</ion-label>
                <ion-select id="field_user" formControlName="user" [compareWith]="compareUser">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Profil Data</ion-label>
                <ion-select id="field_profilData" formControlName="profilData" [compareWith]="compareProfilData">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="profilDataOption.id" *ngFor="let profilDataOption of profilData; trackBy: trackProfilDataById">{{profilDataOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
