@import '../mha.scss';

.mha-border-color-task {
  border-color: var(--ion-color-task);
}

.mha-card-task {
  @extend .mha-card;
  @extend .mha-border-color-task;
}

.mha-owner-card-task {
  @extend .mha-owner-card;
  @extend .mha-border-color-task;
}

.mha-divider-task {
  @extend .mha-divider;
  ion-label {
    color: var(--ion-color-task);
  }
}

.mha-input-title-task {
  @extend .mha-input-title;
  ion-input {
    @extend .mha-card-task;
  }

}

.mha-input-date-task {
  @extend .mha-input-date;
  ion-datetime {

    @extend .mha-border-color-task;
    width: 100%;
  }
}

.mha-input-description-task {
  @extend .mha-input-description;
  ion-textarea {
    @extend .mha-border-color-task;
  }
}

.title,
.title-no-data {
  font-size: 1.6rem;
  &.item-has-focus {
    ion-input {
      background: rgb(236, 236, 236);
    }
  }
  
}


