<ion-header>
  <ion-toolbar color="task">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mes listes de tâches
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content class="ion-no-padding ion-no-margin">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-mha-sync [hasModification]="hasModification"></app-mha-sync>

  <ion-card *ngFor="let taskProjectSummary of taskProjectSummaries; " (click)="view(taskProjectSummary?.taskProject)"
    class="card-of-task">
    <ion-card-header>
      <ion-card-title>{{taskProjectSummary?.taskProject.label}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-badge slot="end" color="task">
        {{taskProjectSummary?.getTaskProjectProfilSummary(activeProfil).openedTasks}} /
        {{taskProjectSummary?.openedTasks}}</ion-badge>
      <mha-profil-data-avatar [profilDataId]="owner.profilDataId"
        *ngFor="let owner of taskProjectSummary?.taskProject.owners;" [slot]="'end'"></mha-profil-data-avatar>


    </ion-card-content>
  </ion-card>


  <ion-item *ngIf="!taskProjects?.length">
    <ion-label>
      Vous n'avez pas de projet de tâche.
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="newTaskProject()" color="task">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>