<ion-header>
    <ion-toolbar color="task">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{task.label}}
        </ion-title>


    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="task" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="task">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item hidden>
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <!-- <ion-item-divider lines="none">
                <ion-label color="task"><h1>Libellé</h1></ion-label>
            </ion-item-divider> -->
            <br />
            <ion-item class="mha-input-title-task" lines="none">
                <ion-checkbox [disabled]="!canMarkDone()" formControlName="done" slot="start" mode="ios" color="task">
                </ion-checkbox>
                <ion-input type="text" inputmode="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item lines="none" class="mha-divider-task">
                <ion-label color="task">
                    <h2>Participants</h2>
                </ion-label>
            </ion-item>

            <ion-item button detail (click)="chooseProfile()" lines="none" class="ion-margin mha-owner-card-task">

                <div *ngIf="task.owners && task.owners.length != 0; else noOwner">
                    <mha-profil-data-avatar [size]="'medium'" *ngFor="let owner of task.owners;"
                        [profilDataId]="owner.profilDataId"></mha-profil-data-avatar>
                </div>
                <ng-template #noOwner>
                    <ion-icon name="people" size="large" color="task"></ion-icon>
                </ng-template>
            </ion-item>

            <ion-item lines="none" class="mha-divider-task">
                <ion-label color="task">
                    <h2>Date</h2>
                </ion-label>
            </ion-item>
            <ion-item class="mha-input-date-task" lines="none">
                
                <ion-datetime displayFormat="DD MMMM YYYY" formControlName="dueDate" id="field_dueDate"
                    month-names="[Janvier, Février, Mars, Avril, Mai, Juin, Juillet, Août, Septembre, Octobre, Novembre, Décembre]"
                    cancelText="Annuler" doneText="OK"></ion-datetime>
            </ion-item>


            <ion-item lines="none" class="mha-divider-task">

                <ion-label color="task">
                    <h2>Notes</h2>
                </ion-label>

            </ion-item>
            <ion-item lines="none" class="mha-input-description-task">
                <ion-textarea auto-grow="true" rows="3" name="description" formControlName="description"
                    placeholer="Ajouter vos notes ici">
                </ion-textarea>
            </ion-item>
        </ion-list>
    </form>
</ion-content>