<ion-header>
    <ion-toolbar color="task">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div *ngIf="taskProject.id; else elseBlock">{{taskProject.label}}</div>
            <ng-template #elseBlock>Nouveau Projet de tâches</ng-template>

        </ion-title>


    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="task" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="task">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item hidden>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item lines="none" class="mha-divider-task">
                <ion-label color="task">Nom de la liste</ion-label>
            </ion-item>
            <ion-item class="mha-input-title-task" lines="none">
                <ion-input type="text" inputmode="text" name="label" formControlName="label"></ion-input>
            </ion-item>

            <ion-item lines="none" class="mha-divider-task">
                <ion-label color="task">Participants</ion-label>
            </ion-item>
            <ion-item button detail lines="none" (click)="chooseProfile()" class="ion-margin mha-owner-card-task">


                <div *ngIf="taskProject.owners && taskProject.owners.length != 0; else noOwner">
                    <mha-profil-data-avatar [size]="'medium'" *ngFor="let owner of taskProject.owners;"
                        [profilDataId]="owner.profilDataId"></mha-profil-data-avatar>
                </div>
                <ng-template #noOwner>
                    <ion-icon name="people" size="large" color="task"></ion-icon>
                </ng-template>


            </ion-item>
            <ion-item hidden="true">
                <ion-input type="hidden" id="field_workspace" formControlName="workspaceId" readonly></ion-input>

            </ion-item>
        </ion-list>
    </form>
</ion-content>