<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Shopping Catalog Sheld
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.get('id')">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Label</ion-label>
                <ion-input type="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Last Update</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="lastUpdate" id="field_lastUpdate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Is Default</ion-label>
                <ion-checkbox formControlName="isDefault"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Is Deleted</ion-label>
                <ion-checkbox formControlName="isDeleted"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Shopping Catalog Cart</ion-label>
                <ion-select id="field_shoppingCatalogCart" formControlName="shoppingCatalogCart" [compareWith]="compareShoppingCatalogCart" required>
                    <ion-select-option *ngIf="!form.value.shoppingCatalogCart" [value]="null" selected></ion-select-option>
                    <ion-select-option [value]="shoppingCatalogCartOption.id" *ngFor="let shoppingCatalogCartOption of shoppingCatalogCarts; trackBy: trackShoppingCatalogCartById">{{shoppingCatalogCartOption.label}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div [hidden]="!(form.controls.shoppingCatalogCart?.dirty && form.controls.shoppingCatalogCart?.invalid)">
                <small [hidden]="!form.controls.shoppingCatalogCart?.errors?.required">
                    This field is required.
                </small>
            </div>
        </ion-list>
    </form>
</ion-content>
