<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Shopping Catalog Sheld
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{shoppingCatalogSheld.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{shoppingCatalogSheld.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Is Default</ion-label>
            <div item-content>
                <span>{{shoppingCatalogSheld.isDefault}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Is Deleted</ion-label>
            <div item-content>
                <span>{{shoppingCatalogSheld.isDeleted}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Shopping Catalog Cart</ion-label>
            <div item-content *ngIf="shoppingCatalogSheld.shoppingCatalogCartId">
                <a>{{shoppingCatalogSheld.shoppingCatalogCartLabel}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(shoppingCatalogSheld)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(shoppingCatalogSheld)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
