<ion-header>
    <ion-toolbar color="todo">
        <ion-buttons slot="start">
            <!-- <ion-back-button></ion-back-button> -->
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        
        <ion-title *ngIf="todoListTemplate">
            {{todoListTemplate.label}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="todo" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="primary" (click)="goUpdatePage($event)">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-refresher slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <app-mha-sync [hasModification]="hasModification"></app-mha-sync>
    <ion-list class="ion-padding">
        
        <div *ngFor="let todoTemplate of todoTemplates; trackBy: trackId">
            <app-mha-todo-template-item [todoTemplate]="todoTemplate" [todoListTemplate]="todoListTemplate"></app-mha-todo-template-item>
        </div>
    </ion-list>
    <ion-item *ngIf="!todoTemplates?.length">
        <ion-label>
            Aucune Todo trouvée.
        </ion-label>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="newTodoTemplate()" color="todo">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>