.menu-item {
    margin-bottom: 0px;
    margin-bottom: 0px;
    --min-height: 24px;
}

.taskactive {
    --background: var(--ion-color-task);
    --ion-text-color:white;
    ion-icon {
        --ion-text-color-rgb: white;
    }
}

.todoactive {
    --background: var(--ion-color-todo);
    --ion-text-color:white;
    ion-icon {
        --ion-text-color-rgb: white;
    }
}
.walletactive {
    --background: var(--ion-color-wallet);
    --ion-text-color: white;
    ion-icon {
        --ion-text-color-rgb:  white;
    }
}
.shoppingactive {
    --background: var(--ion-color-shopping);
    --ion-text-color: white;
    ion-icon {
        --ion-text-color-rgb:  white;
    }
}
.workspacetactive {
    --background: var(--ion-color-workspace);
    --ion-text-color: white;
    ion-icon {
        --ion-text-color-rgb:  white;
    }
}

.homeactive {
    --background: var(--ion-color-home);
    --ion-text-color: white;
    ion-icon {
        --ion-text-color-rgb:  white;
    }
}


.active {
    --ion-text-color: var(--ion-color-primary);
 
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}
 
.parent-active {
    font-weight: 500;
}
 
.sub-item {
    padding-left: 20px;
    font-size: small;
    color: white
}