<ion-menu contentId="content" (ionWillOpen)="loadAll()">

  <ion-header>
    <ion-toolbar *ngIf="workspace && profil" color="home">
      <ion-title>{{workspace.label}} - {{profil.displayName}}</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="!workspace || !profil" color="home">
      <ion-title>Bienvenue</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>


    <ion-menu-toggle>
      <ion-item lines="none" class="menu-item" routerLink="/menu/home" routerDirection="root"
        routerLinkActive="homeactive">
        <ion-icon name="home" slot="start" size="small"></ion-icon>
        <ion-label>
          Accueil
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" class="menu-item" routerLink="/menu/workspace" routerDirection="root"
        routerLinkActive="workspacetactive">
        <ion-icon name="business" slot="start" size="small"></ion-icon>
        <ion-label>
          Changer d'espace
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="workspace">
      <ion-item lines="none" class="menu-item" routerLink="/menu/wallet/wallet" routerDirection="root"
        routerLinkActive="walletactive">
        <ion-icon name="wallet" slot="start" size="small"></ion-icon>
        <ion-label>
          Porte-Monnaie(s)
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="workspace">
      <ion-item lines="none" class="menu-item" routerLink="/menu/shopping/shopping-cart" routerDirection="root"
        routerLinkActive="shoppingactive">
        <ion-icon name="cart" slot="start" size="small"></ion-icon>
        <ion-label>
          Listes de Courses
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="workspace">
      <ion-item lines="none" class="menu-item" routerLink="/menu/todo/todo-list" routerDirection="root"
        routerLinkActive="todoactive">
        <ion-icon name="checkmark-circle-outline" slot="start" size="small"></ion-icon>
        <ion-label>
          Listes de Todos
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle *ngIf="workspace">
      <ion-item lines="none" class="menu-item" routerLink="/menu/task/task-project" routerDirection="root"
        routerLinkActive="taskactive">
        <ion-icon name="list" slot="start" size="small"></ion-icon>
        <ion-label>
          Listes de Tâches
        </ion-label>
      </ion-item>
    </ion-menu-toggle>

   

    <ion-menu-toggle>
      <ion-item lines="none" class="menu-item" (click)="logout()">
        <ion-icon name="log-out" slot="start" color="primary" size="small"></ion-icon>
        <ion-label>
          Déconnexion
        </ion-label>
      </ion-item>
    </ion-menu-toggle>


  </ion-content>

</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>