<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Workspace
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{workspace.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{workspace.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Owner</ion-label>
            <div item-content>
                <span *ngFor="let owner of workspace.owners; let last = last">
                    <a>{{owner.displayName}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(workspace)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(workspace)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
