<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Bienvenue sur MyHomeActivities !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <span class="mha"></span>
  <div>
      <ion-button expand="block" routerLink="/login" id="signIn">Se connecter</ion-button>

      <!-- <p>{{ 'NO_ACCOUNT_MESSAGE' | translate }}</p>
      <ion-button expand="block" routerLink="/signup">{{ 'SIGNUP' | translate }}</ion-button> -->

  </div>
</ion-content>
