<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Profil Data
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Photo</ion-label>
            <div item-content>
                <div *ngIf="profilData.photo">
                    <a (click)="openFile(profilData.photoContentType, profilData.photo)">
                        <img [src]="'data:' + profilData.photoContentType + ';base64,' + profilData.photo" style="max-width: 100%;" alt="profilData image"/>
                    </a>
                    {{profilData.photoContentType}}, {{byteSize(profilData.photo)}}
                </div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{profilData.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(profilData)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(profilData)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
