<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Todo Template
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{todoTemplate.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{todoTemplate.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Todo List Template</ion-label>
            <div item-content *ngIf="todoTemplate.todoListTemplateId">
                <a>{{todoTemplate.todoListTemplateLabel}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(todoTemplate)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(todoTemplate)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
