<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{spent?.label}}
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding ion-no-margin">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="wallet">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="true">
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item lines="none" class="mha-divider-wallet">
                <ion-label color="wallet">Informations</ion-label>
            </ion-item>
            <ion-item class="mha-input-title-wallet" lines="none">
                <ion-label position="floating">Libellé</ion-label>
                <ion-input type="text" name="label" formControlName="label"></ion-input>
            </ion-item>

            <ion-grid>
                <ion-row>
                    <ion-col>

                        <ion-item class="mha-input-amount-wallet" lines="none">
                            <ion-label position="floating">Dépense (€)</ion-label>
                            <ion-input type="number" id="inputAmount" name="amount" formControlName="amount"
                                (ionChange)="amountChange($event)" (ionFocus)="inputFocus()" (ionInput)="inputInput($event)" #inputAmount>
                            </ion-input>
                            
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="mha-input-date-wallet" lines="none">
                            <ion-label position="floating">Date</ion-label>
                            <ion-datetime displayFormat="D MMM YYYY" formControlName="spentDate" id="field_spentDate"
                                placeholder="Date de dépense" [monthShortNames]="customMonthShortName"
                                cancelText="Annuler" doneText="OK">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <ion-item *ngIf="spentConfigs.length != 0" lines="none">
                <ion-label color="medium">Remplir avec le Modèle</ion-label>
                <ion-select placeholder="Choisir" interface="action-sheet" cancelText=""
                    (ionChange)="spentConfigSelected($event)">
                    <ion-select-option *ngFor="let spentConfig of spentConfigs" [value]="spentConfig">
                        {{spentConfig.label}}</ion-select-option>
                </ion-select>

            </ion-item>
            <ion-item *ngIf="spentConfigs.length != 0" lines="none">
                <ion-icon name="help" color="medium" size="large"></ion-icon>&nbsp;
                <ion-text style="font-size: x-small;" color="medium"><i>Les modèles de remplissage permettent de
                        pré-remplir les champs. Les valeurs peuvent par la suite être modifiées.</i> </ion-text>
            </ion-item>
            <ion-item lines="none" class="mha-divider-wallet">
                <ion-label color="wallet">Payé par</ion-label>
            </ion-item>
            <ion-item button detail (click)="chooseProfile()" lines="none" class="ion-margin mha-owner-card-wallet">
                <mha-profil-data-avatar [size]="'medium'" [profilId]="spender.id">
                </mha-profil-data-avatar>
                <ion-label>{{spender.displayName}}</ion-label>
                
              
            </ion-item>
            <ion-item lines="none" class="mha-divider-wallet">
                <ion-label color="wallet">Répartition</ion-label>
            </ion-item>
            

            <ion-item class="ion-margin mha-card-wallet" lines="none">
                <ion-grid class="mha-wallet-share-table-element">
                    <ion-row class="mha-wallet-share-table-element">
                        <ion-col size="7">

                        </ion-col>
                        <ion-col size="2">
                            <div class="mha-wallet-share-header">Part(s)</div>
                        </ion-col>
                        <ion-col size="3">
                            <div class="mha-wallet-share-header">Montant(€)</div>
                        </ion-col>
                    </ion-row>
                    <div formArrayName="spentSharings"
                        *ngFor="let spentSharing of getSpentSharingControls(); let i = index;" class="mha-wallet-share-table-element">
                        <div [formGroupName]="i" class="mha-wallet-share-table-element">
                            <ion-row class="mha-wallet-share-table-element">

                                <ion-input type="hidden" formControlName="id" readonly></ion-input>
                                <ion-input type="hidden" formControlName="spentId" readonly></ion-input>

                                <ion-col size="7" class="mha-wallet-share-table-element">
                                    <ion-item class="mha-wallet-share-table-element" lines="none">
                                        <ion-checkbox mode="ios" color="wallet"
                                            (ionChange)="changeSpentSharingShare($event, i)"
                                            [checked]="getFormSpentSharingControls(i).share.value !== 0"></ion-checkbox>
                                        <mha-profil-data-avatar [size]="'small'"
                                            [profilId]="getFormSpentSharingControls(i).sharingProfilId.value">
                                        </mha-profil-data-avatar>
                                        <ion-label class="mha-wallet-share-label-font">&nbsp;
                                            {{getFormSpentSharingControls(i).sharingProfilDisplayName.value}}
                                        </ion-label>
                                    </ion-item>

                                </ion-col>
                                <ion-col size="2" >
                                    
                                    <ion-input [id]="'inputShare'+i"  class="mha-wallet-share-input" type="number" name="share"
                                        formControlName="share" inputmode="numeric"
                                        (ionChange)="amountSharingChange($event, i)" (ionFocus)="inputFocus()" (ionInput)="inputInput($event)">
                                    </ion-input>
                                
                                </ion-col>
                                <ion-col class="ion-align-self-center mha-wallet-share" size="3">
                                    <ion-label>
                                       {{spent.spentSharings[i].amountShare | currency:'EUR':'symbol-narrow'}}
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <ion-row>
                        <ion-col size="7">

                        </ion-col>
                        <ion-col size="2" class="mha-wallet-share-total">
                            <div>{{totalShare}}</div>
                        </ion-col>
                        <ion-col size="3" class="mha-wallet-share-total">
                            <div>{{spent.amount | currency:'EUR':'symbol-narrow'}}</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item class="mha-input-description-wallet" lines="none">
                <ion-label position="floating">Description</ion-label>
                <ion-textarea auto-grow="true" rows="3" type="text" name="description" formControlName="description">
                </ion-textarea>
            </ion-item>
        </ion-list>
    </form>
</ion-content>