<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <div *ngIf="spentConfig.id; else elseBlock">Modification de {{spentConfig.label}}</div>
            <ng-template #elseBlock>Nouveau Modèle de dépense</ng-template>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding ion-no-margin">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="wallet">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="true">
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item lines="none" class="mha-divider-wallet">
                <ion-label color="wallet">Informations</ion-label>
            </ion-item>
            <ion-item class="mha-input-title-wallet" lines="none">
                <ion-label position="floating">Libellé de la configuration</ion-label>
                <ion-input type="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item class="mha-input-title-wallet" lines="none">
                <ion-label position="floating">Libellé de la dépense</ion-label>
                <ion-input type="text" name="spentLabel" formControlName="spentLabel"></ion-input>
            </ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col size="6">

                        <ion-item class="mha-input-amount-wallet" lines="none">

                            <ion-label position="floating">Dépense (€)</ion-label>
                            <ion-input type="number" name="amount" formControlName="amount"
                            (ionChange)="amountChange($event)" (ionFocus)="inputFocus()" (ionInput)="inputInput($event)" #inputAmount>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-item hidden="true">
                <ion-input type="hidden" id="field_wallet" formControlName="walletId" readonly></ion-input>
            </ion-item>
            <ion-item lines="none" class="mha-divider-wallet">
                <ion-label color="wallet">Répartition</ion-label>
            </ion-item>
            <ion-item class="ion-margin mha-card-wallet" lines="none">
                <ion-grid class="mha-wallet-share-table-element">
                    <ion-row class="mha-wallet-share-table-element">
                        <ion-col size="7">

                        </ion-col>
                        <ion-col size="2">
                            <div class="mha-wallet-share-header">Part(s)</div>
                        </ion-col>
                        <ion-col size="3">
                            <div class="mha-wallet-share-header">Montant(€)</div>
                        </ion-col>
                    </ion-row>
                    <div formArrayName="spentSharingConfigs"
                        *ngFor="let spentSharingConfig of getSpentSharingConfigControls(); let i = index;">
                        <div [formGroupName]="i">
                            <ion-row class="mha-wallet-share-table-element">

                                <ion-input type="hidden" formControlName="id" readonly></ion-input>
                                <ion-input type="hidden" formControlName="spentConfigId" readonly></ion-input>
                                <ion-col size="7" class="mha-wallet-share-table-element">
                                    <ion-item class="mha-wallet-share-table-element" lines="none">

                                    
                                        <mha-profil-data-avatar [size]="'small'"
                                            [profilId]="getFormSpentSharingConfigControls(i).profilId.value">
                                        </mha-profil-data-avatar>
                                        <ion-label class="mha-wallet-share-label-font">&nbsp;
                                            {{getFormSpentSharingConfigControls(i).profilDisplayName.value}}
                                        </ion-label>

                                    </ion-item>
                                </ion-col>
                                <ion-col size="2">
                                    <ion-input class="mha-wallet-share-input" type="number" name="share" formControlName="share"
                                        inputmode="numeric" type="number" (ionFocus)="inputFocus()" (ionInput)="inputInput($event)">
                                    </ion-input>
                                </ion-col>
                                <ion-col class="ion-align-self-center mha-wallet-share" size="3" >
                                    <div *ngIf="hasAmount">
                                        {{getAmountForSpentSharingConfig(i)| currency:'EUR':'symbol-narrow'}}
                                    </div>

                                </ion-col>
                            </ion-row>
                        </div>
                    </div>

                </ion-grid>
            </ion-item>
        </ion-list>
    </form>

</ion-content>