@import '../mha.scss';



.mha-border-color-wallet {
  border-color: var(--ion-color-wallet);
}

.mha-card-wallet {
  @extend .mha-card;
  @extend .mha-border-color-wallet;
}


.mha-owner-card-wallet {
  @extend .mha-owner-card;
  @extend .mha-border-color-wallet;
}


.mha-input-title-wallet {
  @extend .mha-input-title;
  ion-input {
    @extend .mha-card-wallet;
  }

}

.mha-divider-wallet {
  @extend .mha-divider;
  ion-label {
    color: var(--ion-color-wallet);
  }
}

.mha-input-description-wallet {
  @extend .mha-input-description;
  ion-textarea {
    @extend .mha-border-color-wallet;
  }
}

.mha-input-amount-wallet {
  @extend .mha-input-amount;
  ion-input {
    @extend .mha-border-color-wallet;
  }
}



.mha-input-date-wallet {
  @extend .mha-input-date;
  ion-datetime {
    @extend .mha-border-color-wallet;
  }
}

.mha-wallet-share-label-font {
  font-size: 0.9em;
}

.mha-wallet-share-header {
  font-size: 0.6em;
  text-align: center;
}

.mha-wallet-share-table-element {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.mha-wallet-share {
  @extend .mha-wallet-share-label-font;
  text-align: right;
  --padding-end: 3px;
  
}

.mha-wallet-share-input {
  @extend .mha-wallet-share;
  --background: rgb(236, 236, 236);
  caret-color: rgb(236, 236, 236);
  
}

.mha-wallet-share-total {
  @extend .mha-wallet-share;
  font-weight: bold;
}

.mha-summary-amount-wallet {
  text-align: right;
  padding-right: 3px;
  font-size: 0.7em;
}

.mha-summary-total-wallet {
  @extend .mha-summary-amount-wallet;
  font-weight: bold;
}

