<ion-header>
  <ion-toolbar color="wallet">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mes Modèles de dépense
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let spentConfig of spentConfigs; trackBy: trackId" #slidingItem>
      <ion-item (click)="edit(spentConfig)">

        <ion-label class="ion-text-wrap">
          <p>{{spentConfig.label}}</p>
        </ion-label>

      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!spentConfigs?.length">
    <ion-label>
      Aucune configuration trouvée.
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="new()" color="wallet">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>