<ion-header>
    <ion-toolbar color="wallet">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div *ngIf="wallet.id; else elseBlock">{{wallet.label}}</div>
            <ng-template #elseBlock>Nouveau Porte Monnaie</ng-template>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="wallet" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>

        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button color="danger" (click)="deleteModal()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>

        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="!isReadyToSave" (click)="save()" color="wallet">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="true">
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item lines="none" class="mha-divider-wallet">
                <ion-label color="wallet">Nom</ion-label>
            </ion-item>
            <ion-item class="mha-input-title-wallet" lines="none">
                <ion-input type="text" inputmode="text" name="label" formControlName="label"></ion-input>
            </ion-item>
            <ion-item hidden="true">
                <ion-input type="hidden" id="field_workspace" formControlName="workspaceId" readonly></ion-input>
            </ion-item>
            <ion-item lines="none" class="mha-divider-wallet">
                <ion-label color="wallet">Participants</ion-label>
            </ion-item>
            <ion-item button detail lines="none" (click)="chooseProfile()" class="ion-margin mha-owner-card-wallet">
                <div *ngIf="wallet.owners && wallet.owners.length != 0; else noOwner">
                    <mha-profil-data-avatar [size]="'medium'" *ngFor="let owner of wallet.owners;"
                        [profilDataId]="owner.profilDataId"></mha-profil-data-avatar>
                </div>
                <ng-template #noOwner>
                    <ion-icon name="people" size="large" color="wallet"></ion-icon>
                </ng-template>


            </ion-item>
        </ion-list>
    </form>
    <form (submit)="viewSpentConfigs()" *ngIf="wallet?.id">
        <ion-list>
            <ion-item>
                <ion-label>Gérer les Modèles de remplissage</ion-label>
                <ion-button slot="end" size="small" color="wallet" type="submit">
                    <ion-icon name="construct"></ion-icon>

                </ion-button>
            </ion-item>
            <ion-row class="ion-padding">
                <ion-col>

                </ion-col>
            </ion-row>
        </ion-list>
    </form>
</ion-content>