
  <div *ngIf="hasModification,else noModif" class="ion-no-padding ion-no-margin ion-align-items-center syncbar-modif">
    <ion-icon name="sync" size="small" class="syncbar-icon"></ion-icon>
      <span class="syncbar-text"> Synchronisation des modifications en glissant vers le</span>
      <ion-icon name="arrow-down-circle-outline" size="small" class="syncbar-icon"></ion-icon>
  </div>
  <ng-template #noModif>
    <div class="syncbar-nomodif">

    </div>
</ng-template>