.syncbar-modif {
  background-color: #fff6d6 !important;
  font-size: 0.8em;
  padding: 20px 0px 5px 0px;
  margin: 0px;
  font-style: italic;
  text-align: center;
  width: 100%;
}

.syncbar-icon {
  display: inline-block;
  font-size: 35px;
  vertical-align: middle;
}

.syncbar-text {
  display: inline-block;
  vertical-align: middle;
}

.syncbar-nomodif {
  height: 20px;
}
