<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Todo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{todo.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Done</ion-label>
            <div item-content>
                <span>{{todo.done}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{todo.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Todo List</ion-label>
            <div item-content *ngIf="todo.todoListId">
                <a>{{todo.todoListLabel}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(todo)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(todo)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
