<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Shopping Item
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{shoppingItem.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{shoppingItem.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Checked</ion-label>
            <div item-content>
                <span>{{shoppingItem.checked}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Quantity</ion-label>
            <div item-content>
                <span>{{shoppingItem.quantity}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Unit</ion-label>
            <div item-content>
                <span>{{shoppingItem.unit}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Shopping Catalog Sheld</ion-label>
            <div item-content *ngIf="shoppingItem.shoppingCatalogSheldId">
                <a>{{shoppingItem.shoppingCatalogSheldLabel}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Shopping Cart</ion-label>
            <div item-content *ngIf="shoppingItem.shoppingCartId">
                <a>{{shoppingItem.shoppingCartLabel}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(shoppingItem)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(shoppingItem)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
