// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Palette https://www.color-hex.com/color-palette/471 used **/

  --ion-color-todo: #a200ff;
  --ion-color-todo-rgb: 162, 0, 255;
  --ion-color-todo-contrast: #ffffff;
  --ion-color-todo-contrast-rgb: 255, 255, 255;
  --ion-color-todo-shade: #8f00e0;
  --ion-color-todo-tint: #ab1aff;

  --ion-color-workspace: #3880ff;
  --ion-color-workspace-rgb: 56, 128, 255;
  --ion-color-workspace-contrast: #ffffff;
  --ion-color-workspace-contrast-rgb: 255, 255, 255;
  --ion-color-workspace-shade: #3171e0;
  --ion-color-workspace-tint: #4c8dff;

   --ion-color-wallet: #f47835;
  --ion-color-wallet-rgb: 244, 120, 53;
  --ion-color-wallet-contrast: #ffffff;
  --ion-color-wallet-contrast-rgb: 0, 0, 0;
  --ion-color-wallet-shade: #d76a2f;
  --ion-color-wallet-tint: #f58649;

  --ion-color-home: #00aedb;
  --ion-color-home-rgb: 0, 174, 219;
  --ion-color-home-contrast: #ffffff;
  --ion-color-home-contrast-rgb: 255, 255, 255;
  --ion-color-home-shade: #0099c1;
  --ion-color-home-tint: #1ab6df;

  --ion-color-task: #d41243;
  --ion-color-task-rgb: 212, 18, 67;
  --ion-color-task-contrast: #ffffff;
  --ion-color-task-contrast-rgb: 255, 255, 255;
  --ion-color-task-shade: #bb103b;
  --ion-color-task-tint: #d82a56;

  --ion-color-shopping: #8ec127;
  --ion-color-shopping-rgb: 142, 193, 39;
  --ion-color-shopping-contrast: #ffffff;
  --ion-color-shopping-contrast-rgb: 255, 255, 255;
  --ion-color-shopping-shade: #7daa22;
  --ion-color-shopping-tint: #99c73d;

  /** Fonts **/
  --ion-font-family: "Roboto";
  ion-menu-toggle {
    font-size: 8px;
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/roboto/Roboto-RegularItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/roboto/Roboto-BoldItalic.ttf");
}

.ion-color-task {
  --ion-color-base: var(--ion-color-task);
  --ion-color-base-rgb: var(--ion-color-task-rgb);
  --ion-color-contrast: var(--ion-color-task-contrast);
  --ion-color-contrast-rgb: var(--ion-color-task-contrast-rgb);
  --ion-color-shade: var(--ion-color-task-shade);
  --ion-color-tint: var(--ion-color-task-tint);
}

.ion-color-workspace {
  --ion-color-base: var(--ion-color-workspace);
  --ion-color-base-rgb: var(--ion-color-workspace-rgb);
  --ion-color-contrast: var(--ion-color-workspace-contrast);
  --ion-color-contrast-rgb: var(--ion-color-workspace-contrast-rgb);
  --ion-color-shade: var(--ion-color-workspace-shade);
  --ion-color-tint: var(--ion-color-workspace-tint);
}
.ion-color-wallet {
  --ion-color-base: var(--ion-color-wallet);
  --ion-color-base-rgb: var(--ion-color-wallet-rgb);
  --ion-color-contrast: var(--ion-color-wallet-contrast);
  --ion-color-contrast-rgb: var(--ion-color-wallet-contrast-rgb);
  --ion-color-shade: var(--ion-color-wallet-shade);
  --ion-color-tint: var(--ion-color-wallet-tint);
}

.ion-color-home {
  --ion-color-base: var(--ion-color-home);
  --ion-color-base-rgb: var(--ion-color-home-rgb);
  --ion-color-contrast: var(--ion-color-home-contrast);
  --ion-color-contrast-rgb: var(--ion-color-home-contrast-rgb);
  --ion-color-shade: var(--ion-color-home-shade);
  --ion-color-tint: var(--ion-color-home-tint);
}

.ion-color-todo {
  --ion-color-base: var(--ion-color-todo);
  --ion-color-base-rgb: var(--ion-color-todo-rgb);
  --ion-color-contrast: var(--ion-color-todo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-todo-contrast-rgb);
  --ion-color-shade: var(--ion-color-todo-shade);
  --ion-color-tint: var(--ion-color-todo-tint);
}

.ion-color-shopping {
  --ion-color-base: var(--ion-color-shopping);
  --ion-color-base-rgb: var(--ion-color-shopping-rgb);
  --ion-color-contrast: var(--ion-color-shopping-contrast);
  --ion-color-contrast-rgb: var(--ion-color-shopping-contrast-rgb);
  --ion-color-shade: var(--ion-color-shopping-shade);
  --ion-color-tint: var(--ion-color-shopping-tint);
}

.profil-popover {
  .popover-content {
    //width: 80% !important; - this wont work or the bottom one.
    --min-width: 90vw !important;
  }
}

$ion-card-of-border-radius: 10px;
$ion-card-of-border-type: dashed;

/* ion-card.card-of-task {
  border: $ion-card-of-border-type var(--ion-color-task);
  border-radius: $ion-card-of-border-radius;
}

ion-card.card-of-wallet {
  border: $ion-card-of-border-type var(--ion-color-wallet);
  border-radius: $ion-card-of-border-radius;
}  */

.card-of {
  border-width: 1px;
  border-radius: $ion-card-of-border-radius;
  border-style: $ion-card-of-border-type;
}
ion-card.card-of-task {
  @extend .card-of;
  border-color: var(--ion-color-task);
}

ion-card.card-of-todo {
  @extend .card-of;
  border-color: var(--ion-color-todo);
}

ion-card.card-of-wallet {
  @extend .card-of;
  border-color: var(--ion-color-wallet);
}

ion-card.card-of-shopping {
  @extend .card-of;
  border-color: var(--ion-color-shopping);
}
