.mha-logo {
    display: block;
    width: 200px;
    height: 250px;
    margin: 20px auto;
    background: url('../../../assets/img/mha.png') no-repeat center top;
    background-size: contain;
  }
  
  /* wait autoprefixer update to allow simple generation of high pixel density media query */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .mha-logo {
      background: url('../../../assets/img/mha2x.png') no-repeat center top;
      background-size: contain;
    }
  }
  