
ion-avatar  {
  width:20px !important;
  height : 20px !important;
  max-width: 20px !important;  //any size
  max-height: 20px !important; //any size
  margin: 2px;
  float: right;
  } 

  ion-avatar.small  {
    width:20px !important;
    height : 20px !important;
    max-width: 20px !important;  //any size
    max-height: 20px !important; //any size
    margin: 2px;
    float: right;
    } 
    ion-avatar.s2  {
      width:30px !important;
      height : 30px !important;
      max-width: 30px !important;  //any size
      max-height: 30px !important; //any size
      margin: 2px;
      float: right;
      } 
    ion-avatar.medium  {
      width:40px !important;
      height : 40px !important;
      max-width: 40px !important;  //any size
      max-height: 40px !important; //any size
      margin: 2px;
      float: right;
      } 

    ion-avatar.large  {
      width:60px !important;
      height : 60px !important;
      max-width: 60px !important;  //any size
      max-height: 60px !important; //any size
      margin: 2px;
      float: right;
      } 
  
 
