<ion-header>
  <ion-toolbar color="home">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
    <ion-icon *ngIf="isConnected" size="large" slot="end" name="cloud-done"></ion-icon>
    <ion-icon *ngIf="!isConnected" size="large" slot="end" name="cloud-offline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-text *ngIf="workspace">
    <h1>Bienvenue dans l'espace {{workspace.label}}</h1>
  </ion-text>
  <!-- <ion-item>
    <ion-label *ngIf="workspace">
      Bienvenue dans l'espace {{workspace.label}}
    </ion-label>
  </ion-item> -->
  <ion-card class="card-of-wallet">
    <ion-card-header>
      <ion-card-title color="wallet" (click)="viewWallets()">Porte-Monnaies</ion-card-title>
      <ion-card-subtitle>Résumé de vos Porte-Monnaies</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let walletSummary of walletSummaries" (click)="viewWallet(walletSummary.wallet)" lines="none">
        {{walletSummary.wallet.label}}
        <ion-badge slot="end"
          [color]="walletSummary.getWalletProfilSummary(activeProfil.id).getBalance()>0?'success': walletSummary.getWalletProfilSummary(activeProfil.id).getBalance()<0?'danger' :''">
          {{walletSummary.getWalletProfilSummary(activeProfil.id).getBalance() | currency:'EUR':'symbol-narrow'}}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-of-shopping">
    <ion-card-header>
      <ion-card-title color="shopping" (click)="viewShoppingCarts()">Listes de Courses</ion-card-title>
      <ion-card-subtitle>Résumé de vos Listes de Courses</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let shoppingCartSummary of shoppingCartSummaries"
        (click)="viewShoppingCart(shoppingCartSummary.shoppingCart)" lines="none">
        {{shoppingCartSummary.shoppingCart.label}}
        <ion-badge slot="end" color="shopping">
          {{shoppingCartSummary.openedShoppingItems}}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-of-todo">
    <ion-card-header>
      <ion-card-title color="todo" (click)="viewTodoLists()">Todo-Lists</ion-card-title>
      <ion-card-subtitle>Résumé de vos Todo-Lists</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let todoListSummary of todoListSummaries" (click)="viewTodoList(todoListSummary.todoList)"
        lines="none">
        {{todoListSummary.todoList.label}}
        <ion-badge slot="end" color="todo">
          {{todoListSummary.openedTodos}}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="card-of-task">
    <ion-card-header>
      <ion-card-title color="task" (click)="viewTaskProjects()">Tâches</ion-card-title>
      <ion-card-subtitle>Résumé de vos Tâches</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let taskProjectSummary of taskProjectSummaries"
        (click)="viewTaskProject(taskProjectSummary.taskProject)" lines="none">
        {{taskProjectSummary.taskProject.label}}
        <ion-badge slot="end" color="task">
          {{taskProjectSummary.getTaskProjectProfilSummary(activeProfil).openedTasks}} /
          {{taskProjectSummary.openedTasks}}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>