<ion-item-sliding #slidingItem>
    <ion-item class="mha-input-todo ion-no-padding ion-no-margin" lines="none" button (click)="toUpdate()">
        <ion-checkbox slot="start" mode="ios" [color]="todo.done?'light':'todo'" (ionChange)="update($event)"
            [(ngModel)]="todo.done"></ion-checkbox>
        <!-- <div *ngIf="isUpdating;then updating else notupdating"></div>
    <ng-template #notupdating>
        <div (click)="toUpdate()">
        <ion-label [ngClass]="todo.done?'mha-item-list-done':'mha-item-list-notdone'" >{{todo.label}}</ion-label>
        </div>
    </ng-template>
    <ng-template #updating>
        <ion-input type="text" inputmode="text" [(ngModel)]="todo.label" (ionBlur)="update($event)" autofocus></ion-input>
        
    </ng-template> -->
        <div *ngIf="todo.done;then done else notdone"></div>
        <ng-template #done>
            <ion-label class="mha-item-list-done">{{todo.label}}</ion-label>
        </ng-template>
        <ng-template #notdone>
            <ion-input [disabled]="!isUpdating" type="text" inputmode="text" [(ngModel)]="todo.label"
                (ionBlur)="update($event)" autofocus></ion-input>
        </ng-template>
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option (click)="delete(slidingItem)" color="light">
            <ion-icon name="trash" color="danger" size="small"></ion-icon>
        </ion-item-option>

    </ion-item-options>
</ion-item-sliding>