<ion-item-sliding #slidingItem (click)="toUpdate()">
    <ion-item class="mha-input-todo ion-no-padding ion-no-margin" lines="none" button>
    
        
           
            <ion-input [disabled]="!isUpdating" type="text" inputmode="text" [(ngModel)]="todoTemplate.label"
                (ionBlur)="update($event)" autofocus></ion-input>
        
    </ion-item>

    <ion-item-options side="end">
        <ion-item-option (click)="delete(slidingItem)" color="light">
            <ion-icon name="trash" color="danger" size="small"></ion-icon>
        </ion-item-option>

    </ion-item-options>
</ion-item-sliding>