<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Shopping Cart
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Label</ion-label>
            <div item-content>
                <span>{{shoppingCart.label}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Last Update</ion-label>
            <div item-content>
                <span>{{shoppingCart.lastUpdate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Shopping Catalog Cart</ion-label>
            <div item-content *ngIf="shoppingCart.shoppingCatalogCartId">
                <a>{{shoppingCart.shoppingCatalogCartLabel}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Workspace</ion-label>
            <div item-content *ngIf="shoppingCart.workspaceId">
                <a>{{shoppingCart.workspaceLabel}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Owner</ion-label>
            <div item-content>
                <span *ngFor="let owner of shoppingCart.owners; let last = last">
                    <a>{{owner.displayName}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(shoppingCart)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(shoppingCart)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
