.mha-card {
  border: 1px;
  border-radius: 5px;
  border-style: dashed;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mha-input-title {
  ion-label {
    padding-bottom: 10px;
  }
  ion-input {
    font-size: 1.6rem;
  }
  &.item-has-focus {
    ion-input {
      background: rgb(236, 236, 236);
    }
  }
}

.mha-owner-card {
  @extend .mha-card;

  font-size: 1.2rem;
}

.mha-divider {
  --min-height: 12px;
  text-transform: uppercase;
  margin: 0px;
  ion-label {
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

.mha-input-description {
  ion-label {
    padding-bottom: 10px;
  }
  ion-textarea {
    @extend .mha-card;
    font-size: 1rem;
  }
  .label-floating {
    padding-top: 10px;
  }
  &.item-has-focus {
    ion-textarea {
      background: rgb(236, 236, 236);
    }
  }
}

.mha-input-amount {
  ion-label {
    //margin-bottom: 10px;
    padding-bottom: 10px;
  }
  ion-input {
    @extend .mha-card;
    height: 3.1rem;
    font-size: 1.6rem;
    text-align: right;
  }
  &.item-has-focus {
    ion-input {
      background: rgb(236, 236, 236);
      caret-color: rgb(236, 236, 236);
    }
  }
}

.mha-input-date {
  height: 100%;
  ion-label {
    padding-bottom: 10px;
  }
  ion-datetime {
    @extend .mha-card;
    height: 3.1rem;
    text-align: center;
    vertical-align: middle;
  }
}

.mha-item-list-done {
  color: lightgray;
  text-decoration: line-through;
}

.mha-item-list-notdone {
}

ion-badge.mha-item-list-badge {
  font-weight: lighter;
}

ion-avatar.mha-item-list-avatar {
  width: 20px !important;
  height: 20px !important;
  max-width: 20px !important; //any size
  max-height: 20px !important; //any size
  margin: 2px;
}

ion-avatar.mha-item-list-avatar-done {
  @extend .mha-item-list-avatar;
  filter: blur(1px);
}

ion-avatar.mha-item-list-avatar-notdone {
  @extend .mha-item-list-avatar;
}
